* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el fondo de la aplicación */
body {
  background-color: #1d1c1c; /* Cambia el color según tu preferencia */
  /* font-family: Arial, sans-serif; Fuente de la aplicación */
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 800 */
