* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el fondo de la aplicación */
body {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
  font-style: normal;
}

/* Fondo para la página de tareas */
.tasks-background {
  height: 100vh;
  background: url("../images/roraima.jpg") no-repeat center center;
  background-size: cover;
}

.container-app {
  display: flex;
  gap: 3rem;
  border: 2px solid red;
  height: 100%;
}

.form-container {
  width: 35rem;
  border: 4px solid green;
}
