/* styles/Login.css */

body {
  background-color: #121212; /* Fondo oscuro */
  margin: 0;
  font-family: Arial, sans-serif;

  color: #e0e0e0; /* Texto claro */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #1c175581; /* Fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(228, 226, 226, 0.3);
  max-width: 400px;
  width: 100%;
  border: 2px solid white;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
  color: #ffffff; /* Título en blanco */
}

/* .button-login {
  background-color: #4285f4; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ae8;
} */
/* From Uiverse.io by Yaya12085 */
button {
  margin: 0 auto;

  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
}
p {
  color: #ff5252; /* Color para mensajes de error */
  text-align: center;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

input:focus {
  outline: none;
  border-color: #4285f4; /* Color del borde en focus */
}

label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff; /* Color de las etiquetas */
}
