/* Fondo para la página de login */
.login-background {
  height: 100vh;
  /* background-color: #1d1c1ce0; */
  background: url("../images/roraima.jpg") no-repeat center center;
  background-size: cover;
}
.login-container {
  background-color: #121212;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #1c1755ce;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(228, 226, 226, 0.3);
  max-width: 400px;
  width: 100%;
  border: 2px solid white;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
  color: #ffffff; /* Título en blanco */
}

/* From Uiverse.io by Yaya12085 */
button {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  padding: 0.3rem 1.4rem;
  font-size: 0.855rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button svg {
  height: 20px;
}

button:hover {
  transform: scale(1.02);
}
p {
  color: #ff5252; /* Color para mensajes de error */
  text-align: center;
}
