/* Fondo para la página de login */
.login-background {
  height: 100vh;
  /* background-color: #1d1c1ce0; */
  background: url("../images/roraima.jpg") no-repeat center center;
  background-size: cover;
}
.login-container {
  background-color: #121212;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin: 0 0 20px;
  font-size: 24px;
  text-align: center;
  color: #ffffff; /* Título en blanco */
}

/* From Uiverse.io by Yaya12085 */
/* Título del formulario */
.login-box h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #202124;
}

/* Input fields */
.login-box input {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #dadce0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #202124;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

/* Cambia el borde cuando el input está activo o enfocado */
.login-box input:focus {
  border-color: #4285f4;
  outline: none;
}

/* Botón para Login/Registro */
.login-box .button {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  background-color: #4285f4;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

/* Efecto hover para el botón */
.login-box .button:hover {
  background-color: #357ae8;
}

/* Enlace de alternancia entre Login/Registro */
.login-box .toggle-link {
  color: #656769;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;

  font-family: "Roboto", sans-serif;
  transition: color 0.2s ease;
}

.login-box .toggle-link:hover {
  color: #357ae8;
}

/* Mensaje de error */
.login-box p {
  color: #d93025;
  margin-top: 10px;
  font-size: 14px;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .row.container {
    padding: 20px;
  }

  .login-box {
    width: 100%;
    padding: 20px;
  }
}
.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-container input {
  width: 100%;
  padding-right: 40px; /* Deja espacio para el icono */
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.password-toggle svg {
  font-size: 12px;
}
