/* Estilos para la tarjeta de tarea */
.task-card {
  background-color: #202020bd;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.task-card:hover {
  /* transform: translateY(-5px); */
  /* transform: scale(1.05); */
  box-shadow: 0 6px 12px rgba(204, 203, 203, 0.582);
  border: 3px solid #fff;
}

.task-card-header {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
  /* text-transform: capitalize; Fuerza que la primera letra de cada palabra sea mayúscula */
}

.task-card-body {
  font-size: 16px;
  color: #fff;
}

.time {
  color: aqua;
  font-size: 11.5px;
  margin-top: 0.5rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button-card-delete {
  display: inline-block;
  padding: 4px 10px;
  font-size: 8px;
  /* font-weight: bold; */
  /* font-weight: 900; */
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #fffefe;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-card-delete:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.button-card-delete :active {
  /* background-color: #fcf414; */
  box-shadow: none;
  transform: translateY(4px);
}

.button-card-edit {
  display: inline-block;
  padding: 3px 8px;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #5437f5;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #fffefe;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-card-edit:hover {
  background-color: #fff;
  color: #5437f5;
  border: 2px solid #5437f5;
  box-shadow: 5px 5px 0px #5437f5;
}

.button-card-edit :active {
  /* background-color: #fcf414; */
  box-shadow: none;
  transform: translateY(4px);
}
