/* Estilos para el formulario de tarea */
.task-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 3px solid #ddd;
  border-radius: 8px;
  background-color: #1c175581;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 3rem;
}

.task-input,
.task-textarea {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: black;
}

.task-input {
  font-size: 16px;
}

.task-textarea {
  height: 100px;
  font-size: 16px;
}
.task-input:focus,
.task-textarea:focus {
  transform: scale(1.045); /* Expande el input un 1.5% en ambas dimensiones */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Añade una sombra sutil */
  outline: none; /* Quita el borde azul por defecto */
}

.submit-button {
  display: inline-block;
  padding: 4px 13px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #5437f5;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #fffefe;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #fff;
  color: #050000b6;
  border: 2px solid #1c175581;
  box-shadow: 5px 5px 0px #1c175581;
}

.submit-button:active {
  box-shadow: none;
  transform: translateY(4px);
}
